<%- include("template/cabecera", {tituloWeb: 'Página Crear Nuevo Cliente'}) %>

<div class="container">

    <h1>Agregar nueva Mascota</h1>
    
    <form action="agregarMascota" class="my-2" method="POST">
    
        <input 
        type="text"
        placeholder="Ingrese Nombre de la Mascota"
        class="form-control my-2"
        name="nombreMascota"
    >

    <input 
        type="text"
        placeholder="Ingrese Raza"
        class="form-control my-2"
        name="razaMascota"
    >

    <input 
    type="text"
    placeholder="Fecha Nacimiento Mascota"
    class="form-control my-2"
    name="fechaNacimientoMasdcota"
>

<input 
type="text"
placeholder="Ingrese Dueño"
class="form-control my-2"
name="nombreDueno"
>

    
        <button
            type="submit"
            class="btn btn-dark btn-block"
        >
            Agregar Mascota
        </button>
    
    </form>

  </div>

<%- include("template/footer") %>